*{
    margin:0;
    border:0;
    padding:0;
}
html{
    font-size:62.5%;
}
header{
    padding:1.2%;
    background-color:#000;
    color:#fff;
    font:2em Arial, Helvetica, sans-serif;
    position:fixed;
    width:98%;
    z-index:1;
}
nav{
    text-align:right;
    word-spacing:8px;
}
a{
    text-decoration-line:none;
    color:#fff;
    font-weight:bold;
    transition:ease-in-out 300ms;
}
a:hover{
    color:#808080;
}
body{
    height:100%;
    width:100%;
    background:linear-gradient(-45deg, #BFBFBF, #808080, #404040);
    background-attachment:fixed;
}
.normalSect{
    font-family:Arial, Helvetica, sans-serif;
    text-align:justify;
    padding:1%;
    background-color:#fff;
    margin:auto;
    margin-bottom:0.7%;
    position:relative;
    top:100px;
    width:72%;
    border-radius:5px;
    box-shadow:2px 2px 2px #404040;
}
.normalSect > article{
    font-size:1.6em;
}
h1{
    font-size:1.8em;
}
.formSect{
    background-color:#BFBFBF;
    margin-top:2%;
    outline-style:dashed;
    outline-offset:3px;
    outline-color:#FFFFFF;
    box-shadow:none;
}
.formSect > article > h2{
    margin-bottom:1%;
}
.formSect > article > aside{
    margin-top:1%;
}
footer{
    padding:1.2%;
    background-color:#000;
    color:#fff;
    font:2em Arial, Helvetica, sans-serif;
    position:relative;
    top:236px;
}