footer {
    color: #fff;
    padding: 15px;
    background-color: #1f1f1f;
    width: 100%;
}

div.wrapFoot { 
    max-width: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

footer h2 {
    font-size: 2rem;
}

footer p {
    font-size: 1rem;
    text-align: justify;
    line-height: 12px;
}