footer {
    color: #fff;
    padding: 15px;
    background-color: var(--color2);
    width: 100%;
}

footer div.content-wrapper {
    display: grid;
    gap: 10px;
    max-width: 1180px;
}

footer h2 {
    font-size: 2rem;
}

footer p {
    font-size: 1rem;
    text-align: justify;
    line-height: 12px;
}